

<aside>

    <div>
        <h1 class="txt-center">Entrar a Mi Web</h1>
    </div>

    @if (@Session["user"] == "")
    {
        <form action="~/User/Login" method="post">
            <div>
                <div class="d-flex">
                    <label class="label">Usuario</label>
                </div>
                <div class="d-flex">
                    <input class="input" type="text" name="user" />
                </div>
            </div>
            <div>
                <div class="d-flex">
                    <label class="label">Contraseña</label>
                </div>
                <div class="d-flex">
                    <input class="input" type="text" name="pass" />
                </div>
            </div>

            <div class="d-flex">
                <input class="btn_submit" type="submit" value="Ingresar" />
            </div>
        </form>

        <p class="txt-center">¿No tienes una cuenta? @Html.ActionLink("Registrate", "Register", "User")</p>
        <div class="d-flex">
            <a class="txt-center" style="width:100%" href="#">¿Olvidaste tu contraseña?</a>
        </div>
    }
    else
    {
        <h2>@Session["user"]</h2>

    }

        <ul>
            @if (@Session["role"] != null && @Session["role"].ToString() == "admin")
            {

                <li>
                    @Html.ActionLink("Registro de Categoria", "Categories", "Category")

                </li>
                <li>
                    @Html.ActionLink("Registro de Productos", "Products", "Product")
                </li>
                <li>
                    @Html.ActionLink("Mantención Stock  de Productos", "Stock", "Product")
                </li>
                <li>
                    @Html.ActionLink("Cambio Estado de Productos", "MakeChange", "ShoppingCart")
                </li>
            }
            else
            {
            }


            @if (@Session["role"] != null && @Session["role"].ToString() == "user" || @Session["role"].ToString() == "admin")
            {
                <li>
                    @Html.ActionLink("Mis Productos", "Index", "ShoppingCart")
                </li>
                <li>
                    @Html.ActionLink("Mis Pedido", "Orders", "ShoppingCart")
                </li>
                <li>
                    @Html.ActionLink("Cerrar Sesión", "Logout", "User")
                </li>
            }
            else
            {
            }
        </ul>

    <hr />

    <div class="conteiner_rrss">
        <h3 class="txt-center">Siguenos en nuestras Redes Sociales</h3>
        <ul class="place_rrss">
            <li><a href="#"><div class="rrss_img_container"><img src="~/Assets/images/RRSS/instagram.jfif" /></div></a></li>
            <li><a href="#"><div class="rrss_img_container"><img src="~/Assets/images/RRSS/facebook.jpg" /></div></a></li>
            <li><a href="#"><div class="rrss_img_container"><img src="~/Assets/images/RRSS/twitter.jpg" /></div></a></li>
        </ul>
    </div>

</aside>