@{
    @model List<ProductModel>
    List<CategoryModel> ListCategory = ViewBag.CategoryList;
    CategoryModel Category = ViewBag.Category;

    string action = ViewBag.action;
    string optReadonly;
    string btn_enviar;
    int idCategory = ViewBag.idCategory;

    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="w-100 height">
    <h1 class="txt-center">@action Categoria</h1>

    @if (@action.Equals("Eliminar"))
    {
        optReadonly = "readonly";
        btn_enviar = "Eliminar Categoria";
    }
    else
    {
        optReadonly = string.Empty;
        btn_enviar = "Modificar Categoria";
    }

    @using (Html.BeginForm(@action, "Category", FormMethod.Post))
    {
        <div class="form">

            <input type="hidden" name="id_category" value="@idCategory"/>
            <div class="d-flex">
                <label for="category" class="f-label">Categoria</label>
                <input class="f-input" type="text" name="category" required pattern="[A-Za-z]{1,37}"  @optReadonly value="@Category.Category" />
            </div>

            <div class="d-flex space-between">
                <input class="btn_new mg-top-30" type="submit" value="@btn_enviar" />
                @Html.ActionLink("volver", "Categories", "Category", null, new { @class = "btn-cancelar mg-top-30" })
            </div>

        </div>
    }

</div>