
@{
    @model List<ProductModel>
    List<CategoryModel> ListCategory = ViewBag.CategoryList;
    Layout = "~/Views/Shared/_layout.cshtml";
    List<ProductModel> ListProduct = ViewBag.ProductList;
    List<SizeModel> TallaList = ViewBag.TallaList;
    List<TipoTallaModel> TipoTallalist = ViewBag.TipoTallaList;

}

<div class="w-100 height">
    <h1 class="txt-center">Agregar Talla</h1>

    <form class="form" method="post">
        <div class="d-flex">
            <label class="f-label">Producto</label>
            <select class="f-input" name="product_id">
                <option>seleccione...</option>
                @foreach (var producto in ListProduct)
                {
                    <option value="@producto.Id_product">@producto.nombreProductId()</option>
                }
            </select>

        </div>


        <div class="d-flex">
            <label class="f-label">Tipo de Talla</label>
            <select class="f-input" name="tipo_talla">
                <option>seleccione...</option>
                @foreach (var tipotalla in TipoTallalist)
                {
                    <option value="@tipotalla.Id_tipo">@tipotalla.Tipo_talla</option>
                }
            </select>
        </div>
        <div class="d-flex">
            <label class="f-label">Talla</label>
        </div>

        <div class="f-label">
            @foreach (var talla in TallaList)
            {
             <div>
                    <input type="checkbox" value="@talla.Id_size" name="talla"/>
                    <label> @talla.Size</label>
             </div>

            }
        </div>

            <div>
                <input class="btn_new mg-top-30" type="submit" value="Agregar Talla Producto" />
            </div>
            <div>
                <button>Cancelar</button>
            </div>

    </form>

</div>