@{
    @model List<ProductModel>
    List<CategoryModel> ListCategory = ViewBag.CategoryList;
    Layout = "~/Views/Shared/_layout.cshtml";

    ProductModel producto = ViewBag.Producto;

    List<BrandModel> ListMarca = ViewBag.MarcasList;

    int id_product = ViewBag.idProduct;
    string action = ViewBag.action;
    int idProduct = ViewBag.idProduct;
    string selected;
    string selectedMarca;
    string optReadonly;
    string btn_enviar;

}
@if (@action.Equals("Eliminar"))
{
    optReadonly = "readonly";
    btn_enviar = "Eliminar Producto";
}
else
{
    optReadonly = string.Empty;
    btn_enviar = "Modificar Producto";
}


<div class="w-100 height">
    <h1 class="txt-center">@action productos</h1>

    @using (Html.BeginForm(@action, "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="form">

        <input type="hidden" name="idProduct" value="@id_product" />

        @if (action != "Eliminar")
        {
            <div class="d-flex">
                <label class="f-label">Category</label>
                <select class="f-input" id="select-category" name="category_id">
                    <option value="none">seleccione...</option>
                    @try
                    {
                        foreach (var item in ListCategory)
                        {
                            if (producto.Category.Id_category == item.Id_category)
                            {
                                selected = "selected";
                            }
                            else
                            {
                                selected = string.Empty;
                            }
                            <option @selected value="@item.Id_category">@item.Category</option>
                        }
                    }
                    catch (Exception exe)
                    {

                    }
                </select>
            </div>
        }
        else
        {
            <div class="d-flex">
                <label class="f-label">Categoria</label>
                <input class="f-input" type="text" name="category_id" @optReadonly value="@producto.Category.Category" />
            </div>
        }
        <br />
        <div class="d-flex">
            <label class="f-label">Nombre del producto</label>
            <input class="f-input" type="text" name="nameproduct" required @optReadonly value="@producto.Name_product" />
        </div>
        <br />

        @if (action != "Eliminar")
        {

            <div class="d-flex">
                <label class="f-label">Marca</label>
                <select class="f-input" id="select-brand" name="idbrand">
                    <option value="none">seleccione...</option>
                    @try
                    {
                        foreach (var marca in ListMarca)
                        {
                            if (producto.Brand.Id_marca == marca.Id_marca)
                            {
                                selectedMarca = "selected";
                            }
                            else
                            {
                                selectedMarca = string.Empty;
                            }
                            <option @selectedMarca value="@marca.Id_marca">@marca.Brand</option>
                        }
                    }
                    catch (Exception exe)
                    {


                    }
                </select>
            </div>
        }
        else
        {
            <div class="d-flex">
                <label class="f-label">Marca</label>
                <input class="f-input" type="text" name="idbrand" @optReadonly value="@producto.Brand.Brand" />
            </div>
        }
        <br />
        <div class="d-flex">
            <label class="f-label">Descripción</label>
            <textarea class="f-input" name="desciption" @optReadonly>@producto.Pdto_description</textarea>
        </div>
        <div style="width:20%;">
            <img src="~/Assets/uploads/@producto.Imagen.ToString()" />
        </div>
        <br />
        @if (action != "Eliminar")
        {
            <div class="d-flex">
                <label class="f-label">Imagen</label>
                <input class="f-input" type="file" name="file" />
            </div>

        }
        <br />
        <input type="hidden" readonly name="img_old" value="@producto.Imagen" />
        <div class="d-flex space-between">
            <input class="btn_new mg-top-30" id="btn-editar-producto" type="submit" value="@btn_enviar" />
            @Html.ActionLink("volver", "Products", "Product", null, new { @class = "btn-cancelar mg-top-30" })
        </div>
    </div>
    }
</div>

