
@{
    @model List<ProductModel>
    List<CategoryModel> ListCategory = ViewBag.CategoryList;
    Layout = "~/Views/Shared/_layout.cshtml";

    ProductModel producto = ViewBag.Producto;
}


<div class="w-100 height">
    <h1 class="txt-center">Modificar productos</h1>


    <form class="form" method="post" enctype="multipart/form-data">
        <div class="d-flex">
            <label class="f-label">Category</label>
            <select class="f-input" name="category_id">
                <option>seleccione...</option>
                @foreach (var item in ListCategory)
                {
                    <option value="@item.Id_category">@item.Category</option>
                }
            </select>

        </div>
        <div class="d-flex">
            <label class="f-label">Nombre del producto</label>
            <input class="f-input" type="text" name="product" value="@producto.Name_product"/>
        </div>
        <div class="d-flex">
            <label class="f-label">Marca</label>
            <select class="f-input" name="brand">
                <option>seleccione...</option>
              
            </select>
        </div>
        <div class="d-flex">
            <label class="f-label">Precio</label>
            <input class="f-input" type="number" name="price" value="@producto.Price" />

        </div>

        <div class="d-flex">
            <label class="f-label">Descripción</label>
            <textarea class="f-input" name="desciption">@producto.Pdto_description </textarea>
        </div>
        <div>
            <img src="~/Assets/uploads/@producto.Imagen.ToString()"/>
        </div>

        <div class="d-flex">
            <label class="f-label">Imagen</label>
            <input class="f-input" type="file" name="file" />
        </div>
        <div>
            <input class="btn_new mg-top-30" type="submit" value="Ingresar Producto" />
        </div>
    </form>

</div>

