
@{
    @model List<ProductModel>
    ViewBag.Title = "Productos Destacados";
    List<CategoryModel> ListCategory = ViewBag.CategoryList;
    Layout = "~/Views/Shared/_layout.cshtml";
    PaginacionModel paginador = ViewBag.countProduct;
    int cantidadproductos = paginador.Cantidad_pag;
    int cantidadporhoja = paginador.Cantidad_por_hoja;
    Double cantidprovstotal = (Double)decimal.Divide(cantidadproductos, cantidadporhoja);
    int cantidad_pag = (int)Math.Ceiling(cantidprovstotal);
    int pag_actual = ViewBag.actual;
    string btn_actual = "";
}


<main class="w-100 height background-color">


    <h1 class="txt-center oferta">NUESTRAS OFERTAS</h1>
    <div class="products">

        @foreach (var pdto in Model)
        {
            <div class="product">
                <a href="@Url.Action("Product","Product", new { id = pdto.Id_product })">
                    <div class="pdto_img">
                        <img src="~/Assets/uploads/@pdto.Imagen.ToString()" />
                        <div class="look-product"><i class="fas fa-search"></i> ver Producto</div>
                    </div>
                    <h3 class="txt-center mg-1px txt-brand">@pdto.Brand.Brand</h3>
                    <h2 class="txt-center mg-1px txt-pdto">@pdto.Name_product</h2>
                    <p class="txt-center mg-1px txt-precio">$ @pdto.Price.ToString("N0")</p>
                </a>
            </div>
        }

    </div>
    <div class="indicator_page">

        @for (int i = 1; i < @cantidad_pag + 1; i++)
        {

            if (@pag_actual == @i)
            {
                btn_actual = "pag_actual_selected";
            }
            else
            {
                btn_actual = "";
            }

            <button class="btn_numero_pag @btn_actual" onclick="goPage(@i);">@i.ToString()</button>

        }

    </div>

</main>

