
@{
    
    List<ProductModel> ProductList = ViewBag.ProductList;
    List<CategoryModel> ListCategory = ViewBag.CategoryList;
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="w-100 height">
    <h1 class="txt-center">Listado de Productos</h1>
    @Html.ActionLink("Nuevo Producto", "Insert", "Product", null, new { @class = "mg-10 btn_new" })

    <table class="tab">
        <thead class="txt-center">
            <tr>
                <th>ID producto</th>
                <th>Categoria</th>
                <th>Nombre</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody class="txt-center">
            @foreach (var products in ProductList)
            {
            <tr>
                <td>@products.Id_product</td>
                <td>@products.Category.Category</td>
                <td>@products.Name_product</td>
                <td>
                    @Html.ActionLink("Editar", "FormProducts", "Product", new { id = products.Id_product , accion = "Editar" }, null)
                    @Html.ActionLink("Eliminar", "FormProducts", "Product", new { id = products.Id_product , accion = "Eliminar" }, null)
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>