
@{
    @model ProductModel
    ViewBag.Title = "Productos Destacados";
    List<CategoryModel> ListCategory = ViewBag.CategoryList;
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="w-100 height">

    <h1 class="txt-center">Producto</h1>

    <div class="getProduct" >
        <div class="getProduct_container">
            <img src="~/Assets/uploads/@Model.Imagen.ToString()" />
            <div>
               <h2 class="txt-center">@Model.Brand</h2>
            </div>
        </div>
        <div class="getProduct_container_info">
            <h1 class="txt-center">@Model.Name_product</h1>
            <div>
                <p>Descripción:  @Model.Pdto_description</p>
            </div>
            <div>
                <p>Talla:  @Model.Size</p>
            </div>
            <div>
                <p>Precio: $ @Model.Price</p>
            </div>
            <div>
                <p>Disponible: @Model.Stock</p>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />


            
            <div>
                <button type="button">-</button><input type="number" value="1" /><button type="button">+</button><button>Añadir al Carro</button>
            </div>
        </div>
    </div>

</div>