
@{
    @model List<ProductModel>
    List<CategoryModel> ListCategory = ViewBag.CategoryList;
    Layout = "~/Views/Shared/_layout.cshtml";
    List<StockModel> StockModel = ViewBag.StockList;

    string msg = ViewBag.mensaje;
    string tipoResponse = ViewBag.TipoMensaje;

}

<div class="w-100 height">
    <h1 class="txt-center">Stock de Productos</h1>


    @if (msg != null && msg != " ")
    {
        <div class="container-categories-msg">
            <p class="txt-center @tipoResponse">@msg</p>
        </div>
        Session["mensage"] = string.Empty;
        Session["tipoMensaje"] = string.Empty;

    }
    <div>
        @Html.ActionLink("Agregar Talla", "AddStock", "Product", null, new { @class = "mg-10 btn_new" })
    </div>
    <table class="tab">
        <thead class="txt-center">
            <tr>
                <th>ID producto</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Talla</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody class="txt-center">
            @foreach (var item in StockModel)
            {
                <tr>
                    <td>@item.Producto.Id_product</td>
                    <td>@item.Producto.Name_product</td>
                    <td>@item.Producto.Brand.Brand</td>
                    <td>@item.Size.Size</td>
                    <td>@item.Price</td>
                    <td>@item.Stock</td>
                    <td>

                        @Html.ActionLink("Modificar Stock o Precio", "FormStock", "Product", new { id = item.Id_stock }, null)

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>