

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Assets/css/Style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Assets/js/main.js"></script>
    <script src="~/Assets/js/icons.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container_all">

            <header class="div_header d-flex">
            <div class="d-flex">
                <div class="logo">
                    <img src="~/Assets/images/logo.jpg" />
                </div>
                <div class="name-store">
                    <h1>DREAM MAKER</h1>
                </div>
            </div>
            <div class="head_menu">
                <ul class="d-flex option_menu">

                    <li>
                        @Html.ActionLink("Inicio", "Index", "Product", new { id = 1 }, null)
                    </li>
                    @RenderPage("~/Views/Category/Menu.cshtml")
                </ul>
            </div>
        </header>

        <hr />
        <div class="d-flex">

            @RenderPage("~/Views/User/Login.cshtml")

            @RenderBody()

        </div>
        <footer>
            <p>Realizado por <span>Jonathan Venegas &copy;</span> <br /> para el <span>Examén de titulo AIEP</span> </p>
        </footer>
    </div>
</body>
</html>
