@{
    @model ShoppingCartModel

    List<CategoryModel> ListCategory = ViewBag.CategoryList;
    Layout = "~/Views/Shared/_layout.cshtml";
    ShoppingCartModel Shopping = ViewBag.Shopping;
    List<ProductModel> ProductoList = ViewBag.ProductList;
 }


<div class="w-100 height background-color">

    <h1 class="txt-center oferta">Mi Canasta de Productos <i class="fas fa-shopping-cart"></i></h1>
    <br>
    @if (ProductoList != null)
    {
        <div class="contenedor-lista-compra">
        <table class="tab">
            <thead class="txt-center">
                <tr>
                    <th>Enlace</th>
                    <th>Imagen</th>
                    <th>Producto</th>
                    <th>Talla</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Sub Total</th>

                    <th>Acción</th>

                </tr>
            </thead>
            <tbody class="txt-center cesta">


                @foreach (var item in ProductoList)
                {

                    <tr>
                        <td>
                            <a href="@Url.Action("Product", "Product", new { id = @item.Id_product }, null)"><i class="fas fa-search"></i> Ver producto</a>
                        </td>
                        <td>
                            <div style="height:15%; max-width:65px; margin:0 auto;">
                                <img src="~/Assets/uploads/@item.Imagen.ToString()" />
                            </div>
                        </td>
                        <td>@item.Name_product</td>
                        <td>@item.Talla.Size</td>
                        <td>@item.Price</td>
                        <td>
                            <div class="d-flex">
                                <a  style="width:33%; margin:0 auto; padding-top: 15%;" href="@Url.Action("RestProduct", "ShoppingCart" , new {id = @item.Id_cesta }, null)">-</a> <p  style="width:33%;">@item.Cantidad</p> <a  style="width:33%; padding-top:15%;" href="@Url.Action("AddShoppingCart", "ShoppingCart" , new {id = @item.Id_cesta }, null)">+</a>
                            </div>
                        </td>
                        
                        <td class="total_producto">@item.TotalProducto(item.Price, item.Cantidad)</td>
                        <td>
                            <a href="@Url.Action("DeleteOneKindProductCart", "ShoppingCart", new {id = @item.Id_cesta }, null )"><i class="fas fa-trash-alt"></i> Eliminar</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        </div>
    }
    else
    {
    <h2 class="txt-center">Su Canasta de Compra esta Vacía </h2>
    }

    <br />
    <div class="cont-total-a-pagar">
        <h3>Total a Pagar $  <span id="total_cesta"></span></h3>
    </div>

    <hr />



    <div class="d-flex dflex-s-around ">
                <div class="opt-cart-shopping-product">
                    <a class="txt-center btn-shopping-cart" href="@Url.Action("Index", "Product" ,  new { id=1 })"><i class="fas fa-store"></i> Continuar Comprando</a>
                </div>
                <div class="opt-cart-shopping-product">
                    <a class="txt-center btn-shopping-cart" href="@Url.Action("DeleteAllCart","ShoppingCart")"><i class="fas fa-trash"></i> Borrar todo</a>
                </div>
                @if (@Session["user"] != "")
                {
                <div class="opt-cart-shopping-product">
                    <a class="txt-center" href="@Url.Action("DoShopping", "ShoppingCart")"><i class="fas fa-cash-register"></i> Hacer Pedido</a>
                </div>
                }
                else
                {

                <div class="opt-cart-shopping-product">
                    <h3 class="txt-center">Para Continuar la Orden de compra en necesario estar Registrado y Logeado</h3>
                </div>
                }
            </div>

        </div>
