@{
    Layout = "~/Views/Shared/_layout.cshtml";

    List<CategoryModel> list;

    List<ShoppingCartModel> ListOrdenes = ViewBag.OrdersList;

    List<EstadoOrdenModel> ListEstado = ViewBag.EstadoList;
}

<div class="w-100 height">
    <h1 class="txt-center">Pedidos en Proceso </h1>

    <table>
        <thead>
            <tr>
                <th>Id Pedido</th>
                <th>Id Producto</th>
                <th>Nombre producto</th>
                <th>descripción </th>
                <th>Talla </th>
                <th>marca </th>
                <th>cantidad </th>
                <th>Precio </th>
                <th>Total </th>
                <th>Fecha Pedido </th>
                <th>Estado Pago </th>
                <th>Estado</th>
                <th>Modificar Estado</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var ordenes in ListOrdenes)
            {
                <tr>
                    <td>@ordenes.Id_cart</td>
                    @foreach (var producto in ordenes.Productos)
                    {


                        <td>@producto.Id_product</td>
                        <td>@producto.Name_product</td>
                        <td>@producto.Pdto_description</td>
                        <td>@producto.Talla</td>
                        <td>@producto.Brand.Brand</td>
                        <td>@producto.Cantidad</td>
                        <td>@producto.Price</td>
                    }
                    <td>@ordenes.Total</td>
                    <td>@ordenes.FechaPedido</td>
                    <td>@ordenes.EstadoPago</td>
                    <td>@ordenes.EstadoPedido</td>
                    <td>
                        <select>
                            <option>seleccione...</option>

                            @foreach (var estado in ListEstado)
                            {
                            <option value="@estado.Id_estado">@estado.Estado_orden</option>
                            }
                        </select>
                    </td>
                </tr>

            }

        </tbody>
    </table>


</div>
